<mat-card class="profile-container box">
  <mat-card class="profile-image box">
    <mat-card-title class="title" >Panelist

    </mat-card-title>
    <mat-card class="box profile-pic-box">
      <img mat-card-image src="../../../assets/image/profile picture.png" class="profile-pic">
    </mat-card>
    
    <div class="form-group">
      <input type="file" name="file" id="file" class="input-file">
      <label for="file" class="btn btn-tertiary js-labelFile">
       
        <mat-icon [inline]="true" ><span class="edit-btn-icon">
          attachment
          </span></mat-icon>
        <span class="js-fileName">Choose a file</span>
      </label>
    </div>
    

<!-- <button class="edit-btn" id="upload-btn" mat-menu-item>Edit Profile</button> -->
    
  </mat-card>
  <mat-card class="user-details box">
    <mat-card class="info-left box">
    <p>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="label-ui">Name</mat-label>
        <input class="input-ui"matInput placeholder="Placeholder" disabled value="Diksha Joshi">
        
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="label-ui">Employee Id</mat-label>
        <input class="input-ui" matInput placeholder="Placeholder" disabled value="INT950">
        
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="label-ui">Experience</mat-label>
        <input class="input-ui" matInput placeholder="Placeholder" disabled value="2">
        
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="label-ui">Round</mat-label>
        <input class="input-ui" matInput placeholder="Placeholder" disabled value="R1">
        
        
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field appearance="outline" class="form-field" >
        <mat-label class="label-ui">Mobile</mat-label>
        <input class="input-ui" matInput placeholder="Placeholder" disabled value="9999999999">
        
        
      </mat-form-field>
    </p>
  </mat-card>
  <mat-card class="info-right box">
    <p>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="label-ui">E-mail</mat-label>
        <input class="input-ui" matInput placeholder="Placeholder" disabled value="abcd.qwer@xyz.com">
        
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="label-ui">Location</mat-label>
        <input class="input-ui" matInput placeholder="Placeholder" disabled value="Bengaluru">
        
        
      </mat-form-field>

    </p>
    <mat-card class="box">
      <mat-label>Skills</mat-label>
      <p>
      <mat-form-field appearance="outline">
        <mat-label class="label-ui">Primary Skill</mat-label>
        <input class="input-ui" matInput disabled="false" placeholder="Java">
        
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label class="label-ui">Secondary Skill</mat-label>
        <input class="input-ui" matInput placeholder="Python">
        
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label class="label-ui">Tertiary Skill</mat-label>
        <input class="input-ui" matInput placeholder="JavaScript">
        
        
      </mat-form-field>
    </p>
  </mat-card>
  </mat-card>
  </mat-card>
</mat-card>