/* You can add global styles to this file, and also import other style files */
.mat-icon {
    transform: scale(2.3);
    justify-content: flex-end;
}
.accolite {
    text-decoration: none;
    color: #ffffff;
  }